<section>
	<div>
		<h1>
			Inside google map!!
		</h1>
	</div>
	<style type="text/css">
	html, body{
            height: 100%;
            width: 100%;
            margin: 0px;
        }

        #map_canvas {
            height: 600px;
            width: 800px;
            margin: 50px;
            position: relative;
        }

        .angular-google-map-container {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
	</style>
    <h3>
        There are {{tweets.length}} tweets!
    </h3>
	<div id="map_canvas" ng-controller="GoogleMapController">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
    <!--
        <ui-gmap-markers models="randomMarkers" coords="'geometry'" icon="'icon'" doCluster=true click="'onClick'">
            <ui-gmap-windows show="show">
                <div ng-non-bindable>
                    {{user}}<br>
                    {{created_at}}<br>
                    {{text}}
                </div>
            </ui-gmap-windows>
        </ui-gmap-markers>
    -->
        <ui-gmap-markers models="randomMarkers" coords="'geometry'" icon="'icon'" doCluster=true></ui-gmap-markers>
    </ui-gmap-google-map>
    </div>

</section>