<section>
	<div>
		<h1> Detail Info</h1>
	</div>

	<div>
		<strong><em>User Name:</em></strong> {{tweet.user_screen_name}}<br>
		<ul>
			<li>
				<strong>Content:</strong> {{tweet.text}}<br>
			</li>
			<li>
				<strong>Created at:</strong> {{tweet.created_at}}<br>
			</li>
			
			<li>
				<strong>Platform:</strong> {{tweet.source}}<br>
			</li>
			<li>
				<strong>Geo:</strong> {{tweet.geo}}<br>
			</li>
			
			<!--
			<li>
				<strong>Geo:</strong> {{tweet.coordinates}}<br>
			</li>
			-->
		</ul>

	</div>
	<!--
	<p>
		Try to load html
	</p>
	<div ng-include="'/public/partials/googlemap.htm'">
	</div>
	-->
</section>