<section>
	<div>
		<h3> Detail Info</h3>
	</div>
	<style type="text/css">
	html, body{
            height: 100%;
            width: 100%;
            margin: 0px;
        }

        #geo_canvas {
            height: 600px;
            width: 600px;
            margin: 20px;
            position: relative;
        }

        .angular-google-map-container {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
	</style>

	<div>
		<dl class="dl-horizontal">
			<dt>User Name</dt>
			<dd>{{tweet.name}}</dd>
			<dt>User Screen Name</dt>
			<dd>{{tweet.user_screen_name}}</dd>
			<dt>Content</dt>
			<dd>{{tweet.text}}</dd>
			<dt>Created at</dt>
			<dd>{{tweet.created_at}}</dd>
			<dt>Platform</dt>
			<dd>{{tweet.source}}</dd>
			<dt>Geo</dt>
			<dd>{{tweet.geo}}</dd>
			<dt>Attitude</dt>
			<dd>{{tweet.att}}</dd>
		</dl>
	</div>

	<div id="geo_canvas">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" bounds="map.bounds">
        <ui-gmap-markers models="map.marker" coords="'self'" icon="'icon'" fit='true'></ui-gmap-markers>
    </ui-gmap-google-map>
    </div>
	
</section>