<section>
	<style type="text/css">
	h1, h2, h3, h4, h5, h6{
	 	font-family: 'Varela Round', sans-serif;
	}
	#geo_canvas {
        height: 600px;
	    width: 750px;
	    margin: 10px;
	    position: relative;
	}
    .angular-google-map-container {
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    right: 0;
	    left: 0;
	}

	</style>
	<div class="row">
    <form role="form" ng-submit="sendKeyWord()" autocomplete="on">
      <div class="col-md-offset-1 col-md-4">
        <label for="keyWord"> Streaming Key Word </label>
        <input id="keyWord" type="text" ng-model="keyWord" placeholder="Enter a streaming key word" autofocus="" class="form-control">
      </div>
      <div class="col-md-2"></div>
      <button type="submit" ng-disabled="btnIsDisabledKeyWord" class="btn btn-primary pull-right">Send Key Word</button>
    </form>
  	</div>

	<div class="row">
		<div class="col-md-offset-8 col-md-2">
			<button type="button" class="btn btn-primary btn-lg" ng-click="cleanMarkers()"> Clear Markers</button>
		</div>
	</div>
	<div class="row">
            <div class="col-md-5">
                <button type="button" class="btn btn-primary btn-lg" ng-click="findTweets()" ng-disabled="btnIsDisabled">{{btnText}}</button>
                <button type="button" class="btn btn-primary btn-lg" ng-click="stopStreaming()" ng-disabled="btnIsDisabledStop">{{btnTextStop}}</button>
                <span ng-repeat="tweet in tweets | reverse track by $index">
                    <section class="post">
    					<header class="post-header">
        					<img class="post-avatar" alt="{{tweet.user.name}}" height="52" width="52" src="{{tweet.user.image}}" />
        					<h4 class="post-user"> {{tweet.user.name}} @ {{tweet.location}}</h4>
        					<h5>{{tweet.text}}</h5>
    					</header>
					</section>
                </span>
            </div> 
            <div class="col-md-7">
            	<div id="geo_canvas">
    				<ui-gmap-google-map center="map.center" zoom="map.zoom" dragging="map.dragging" bounds="map.bounds" events="map.events" options="map.options" pan="true" control="map.control">
      
      					<ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>

        				<ui-gmap-markers models="map.markers" coords="'geometry'" icon="'icon'" click="'onClick'" control="map.markersControl">
        					<ui-gmap-windows show="'show'">
                				<div ng-non-bindable>
                    				{{user_name}}<br>
                    				{{text}}
                				</div>
            				</ui-gmap-windows>
        				</ui-gmap-markers>
    				</ui-gmap-google-map>
   			 	</div>
            </div>           
    </div>
</section>		